<%- include("./partials/header") %>
<div class="container">
   <header id="header-box">
      <h1 id="header-title">Register</h1>
      <span id="header-subtitle">Create an account</span>   
   </header>

<form class="form" action="/register" method="POST">
   <ul class="form-input-list">
      <label class="form-label"  for="username">Username</label>
         <li><input class="form-input" id="username" type="text" name="username"></li>
         <label class="form-label" for="password">Password</label>
         <li><input class="form-input" id="password" type="password" name="password"></li>
         <li><button class="form-submit-btn">Register</button></li>
   </ul>
</form>

<%- include("./partials/footer") %>